# Mac files
.DS_Store

# To do lists
TODO

# iPython checkpoint files
*.ipynb_checkpoints

# Powerpoints
*.pptx
*.ppt

# Python save files
*.p
*.npy

# Output and response files
#/output/*
/responses

# Executable files
PRISM

# CMake files
cmake_install.cmake
CMakeCache.txt
CMakeFiles/

# Geant4 history
G4History.macro

# LaTeX files
*.aux
*.log
*.out
*.synctex.gz

# ROOT files
HEMI_Sim/output/*.root

# Doxygen build directory
/docs/doxygen/html
/docs/doxygen/latex

# Src and Include files that aren't ready
/src/Digi.cc
/src/Digitizer.cc
/src/DigitizerMessenger.cc
/include/Digi.hh
/include/Digitizer.hh
/include/DigitizerMessenger.hh


# Etc.
Dan's Code/*
digiCode/*
=======
/docs/doxygen/latex
