# Mac files
.DS_Store

# To do lists
TODO

# iPython checkpoint files
*.ipynb_checkpoints

# Powerpoints
*.pptx
*.ppt

# Python save files
*.p
*.npy

# Output and response files
/output/*.bin
/output/*.npy
/responses

# Executable files
PRISM

# CMake files
cmake_install.cmake
CMakeCache.txt
CMakeFiles/

# Geant4 history
G4History.macro

# LaTeX files
*.aux
*.log
*.out
*.synctex.gz

# ROOT files
HEMI_Sim/output/*.root

# Doxygen build directory
/docs/doxygen/html
/docs/doxygen/latex

# Etc.
Dan's Code/*
=======
/docs/doxygen/latex
