<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PRISM_response.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>107234ED11D4423B8CC5605C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1400441E6BD24F768959D6B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A3A746489E54A768F309C97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B380C6A8DAA42B28592C874</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D40ADF45FF141CAAA13D834</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38E2EFBB226B45B1A976507B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40CE22327477467CAC3F8769</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>429EF4E52B35418FA4766AA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44CBA636D9904DF58894C4E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65365558FBFF4CD1B3D14A79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AFBE31652C5416882932E87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70A0CB360DB748EDA674A92A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>731EF02FE79F43BFB9A74278</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92936416F66244908903C4A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95FDB631E7F844C69B8CB9F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BFCF8DC887645318F01C44B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFBF6224E90E4DB399125C0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2E79C0C89B0425C83AD8A88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBCB2AC4084A4235B0597F5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9DF630E9E154F1EB49B889C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1C7B29A4ED24D6DB709FAF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E90A8F23C3404AEA979B051D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB513B47CAD64B0FBD02B44A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB9A6DBEE41E4BDC9288E0D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
